.abssinica {
  font-family: 'Abyssinica SIL', serif;
}

.noto-sans {
  font-family: 'Noto Sans TC', sans-serif;
}

.kalam {
  font-family: 'Kalam', cursive;
}

body {
  width: 100%;
  background-image: url(../images/bg-resume.png);
  background-position: top;
  line-height: 1.5;
}

.intro {
  max-width: 100%;
  min-height: 841px;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  position: relative;
  padding: 8rem 0;

  .intro-block {
    padding: 8rem 15rem;
  }

  h1 {
    letter-spacing: 1rem;
    line-height: 1.5;
  }

  .lastBorder {
    width: 200px;
    border-bottom: 1px solid $dark;
    margin-bottom: 3.5rem;
  }

  .vertical-lr {
    writing-mode: vertical-lr;
  }

  .infoBorder {
    border-bottom: 1px solid $dark;
    width: 450px;
  }
}

.about {
  margin: 10rem 0;

  .squareRounded {
    width: 60px;
    height: 60px;

    &-topLeft {
      border-top: 2px solid $dark;
      border-left: 2px solid $dark;
      position: relative;

      &::before {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(../images/about-shine.png);
        position: absolute;
        left: -11px;
        top: -11px;
      }
    }

    &-bottomRight {
      border-bottom: 2px solid $dark;
      border-right: 2px solid $dark;
      position: relative;

      &::after {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(../images/about-shine.png);
        position: absolute;
        right: -11px;
        bottom: -11px;
      }
    }
  }

  .about-block {
    padding: 2rem;
    margin: 1rem;
  }
}


.experience {
  margin-bottom: 10rem;

  .experience-block {
    border: 1px solid $dark;
    border-radius: 40rem 40rem 0 0;
    padding: 20rem 20rem 10rem 20rem;
    position: relative;

    .exBorder {
      border-right: 1px solid $dark;
      height: 320px;
      margin-right: -35px;
    }

    .timeLine {
      &::before {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../images/ex-shineL.png);
        margin-right: 8px;
      }
    }

    .project {
      &::before {
        content: "";
        width: 21px;
        height: 21px;
        background-image: url(../images/ex-shineS.png);
        margin-right: 8px;
        display: block;
      }
    }

    .shine {
      width: 120px;
      height: 120px;
      background-image: url(../images/ex-shine.png);
      position: absolute;
      top: 300px;
      right: 20px;
    }

    .planet {
      width: 158px;
      height: 124px;
      background-image: url(../images/ex-planet.png);
      position: absolute;
      bottom: -58px;
      left: -72px;
    }

  }
}


.skills {
  margin-bottom: 10rem;
  position: relative;

  .skills-title {
    width: 245px;
    height: 117px;
    margin: 2.5rem auto;
    background-image: url(../images/skills.png);
    padding: 2.5rem 0;
  }

  .circle1 {
    position: absolute;
    top: 21px;
    left: 81px;
  }

  .circle2 {
    position: absolute;
    top: -6px;
    left: 78px;
  }

  .circle3 {
    position: absolute;
    top: -7px;
    left: 61px;
  }

  .circle4 {
    position: absolute;
    top: 26px;
    left: 86px;
  }

  .circle5 {
    position: absolute;
    top: 8px;
    left: 68px;
  }

  .circle6 {
    position: absolute;
    top: 18px;
    left: 48px;
  }

  .circle7 {
    position: absolute;
    top: 14px;
    left: 70px;
  }

  .circle8 {
    position: absolute;
    top: 6px;
    left: 66px;
  }

  .circle9 {
    position: absolute;
    top: -5px;
    left: 76px;
  }
}


.coach {
  margin-bottom: 5rem;

  .container-coach {
    width: 60%;
    margin: 0 auto;

    .coach-title {
      border-bottom: 1px solid $dark;
      padding-bottom: 1rem;
      position: relative;
    }

    .rocket {
      position: absolute;
      top: 24px;
      right: -52px;
    }
  }
}